# requests==2.31.0
# SPARQLWrapper==2.0.0
# typing==3.7.4.3
# svgling==0.4.0
# subprocess.run==0.0.8
# psycopg2==2.9.9
# run-subprocess==0.9.1
requests
SPARQLWrapper
typing
svgling
subprocess.run
psycopg2-binary
run-subprocess
pandas
plotly
numpy
gunicorn
mysql-connector-python
ollama
dateparser
datetime
rapidfuzz

# if you are using a virtual environment, you can use the following command to install the dependencies:
# pip install -r requirements.txt
# if you are using a conda environment, you can use the following command to install the dependencies:
# conda install --file requirements.txt
# check installed packages with:
# pip list 
# or
# conda list
# or
# pip freeze > requirements.txt
# or
# conda list --export > requirements.txt
# or
# docker exec -it <container id> pip freeze

# ollama==0.4.7
# aiofiles==22.1.0
# annotated-types==0.7.0
# anyio==4.9.0
# certifi==2025.1.31
# charset-normalizer==3.4.1
# coloredlogs==15.0.1
# exceptiongroup==1.2.2
# gunicorn==23.0.0
# h11==0.14.0
# httpcore==1.0.8
# httptools==0.5.0
# httpx==0.28.1
# humanfriendly==10.0
# idna==3.10
# isodate==0.7.2
# multidict==5.2.0
# mysql-connector-python==9.2.0
# narwhals==1.35.0
# numpy==2.2.4
# ollama==0.4.7
# packaging==24.2
# pandas==2.2.3
# plotly==6.0.1
# pluggy==1.0.0
# prompt-toolkit==3.0.28
# psycopg2-binary==2.9.10
# pydantic==2.11.3
# pydantic_core==2.33.1
# pyparsing==3.2.3
# python-dateutil==2.9.0.post0
# pytz==2025.2
# rasa-sdk==3.6.2
# rdflib==7.1.4
# requests==2.32.3
# ruamel.yaml==0.17.21
# ruamel.yaml.clib==0.2.7
# run-subprocess==0.9.1
# sanic==21.12.2
# Sanic-Cors==2.0.1
# sanic-routing==0.7.2
# six==1.17.0
# sniffio==1.3.1
# SPARQLWrapper==2.0.0
# subprocess.run==0.0.8
# svgling==0.5.0
# svgwrite==1.4.3
# typing==3.7.4.3
# typing-inspection==0.4.0
# typing_extensions==4.13.2
# tzdata==2025.2
# ujson==5.7.0
# urllib3==2.4.0
# uvloop==0.17.0
# wcwidth==0.2.6
# websockets==10.4